<%= form_for ([@destination, @destination.trips.build]) do |f| %>
    <p>
        <%= f.label :depart_time %><br>
        <%= f.text_field :depart_time %>
    </p>
    <p>
        <%= f.label :return_date %><br>
        <%= f.text_field :body %>
    </p>
    <p>
        <%= f.label :depart_time %><br>
        <%= f.text_field :depart_time %>
    </p>
    <p>
        <%= f.label :return_time %><br>
        <%= f.text_field :return_time %>
    </p>
    <p>
        <%= f.label :mode %><br>
        <%= f.text_field :mode %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>