<table cellpadding="15">
  <tr>
		<th>Departure Date</th>
		<th>Departure Time</th>
		<th>Return Date</th>
		<th>Return Time</th>
		<th>Mode of Transportation</th>
  </tr>
  <tr>
		  <td><%= trip.depart_date %></td>
		  <td><%= trip.depart_time %></td>
		  <td><%= trip.return_date %></td>
		  <td><%= trip.return_time %></td>
		  <td><%= trip.mode %></td>
		  <td><%= link_to 'Edit Trip', edit_destination_trip_path(trip.destination, trip) %></td>
		  <td><%= link_to 'Delete Trip', 
									# destination_trip_path(trip.destination, trip),
									[trip.destination, trip],
									method: :delete,
									data: {confirm: 'Are you sure?' } %></td>
		</tr>
</table>

<!-- Regex individual variables(time,date, etc) -->
<!--phone = phone.gsub!(/\D/, "") -->
<!--puts "Phone Num : #{phone}"-->