<head>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans" rel="stylesheet">
</head>

<header>
	<h1>Log in</h1>
	
	<nav class="nav_menu">
		<% if current_user %>
		<!--Nav menu if user is logged in (to be place in under 'if'-->
			<ul> 
				<li><%= current_user.username%></li>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Log out', logout_path, method: "delete" %></li>
				<li><%= link_to 'Destinations', controller: 'destinations' %></li>
			</ul>
		<% else %>
			<!--Nav menu if user is NOT logged in (to be place under 'else'-->
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Signup', signup_path %></a></li>
				<li><%= link_to 'Destinations', controller: 'destinations' %></li>
			</ul>
		<% end %>
	</nav>
</header>

<body id="bg-home">
	<div class="login">
		<div class="container">
			<div class="form">
			
			<%= form_for(:session, url: login_path) do |f| %> 
				<%= f.email_field :username, :placeholder => "Email" %> 
				<%= f.password_field :password, :placeholder => "Password" %> 
				<%= f.submit "Log in", class: "btn-submit" %>
			<% end %>
			
			</div>
		</div>
	</div>
</body>