<html>
  <head>
    <title>TripTastic</title>
    <!--<link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  </head>
  
  <body>
    
    <header class="bg">
      <h1>TripTastic</h1>
      <h2>An Unexpected Journey</h2>
      
      <nav class="nav_menu">
        <ul>
            <li><%= link_to 'New Destinations', new_destination_path %></li>
            <li><%= link_to 'Signup', signup_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'List of Users', users_path %></li>
            <li><%= link_to 'List of Destinations', destinations_path %></li>
           
        </ul>
      </nav>
      
    </header>
  </body>
  
</html>
