<head>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans" rel="stylesheet">
</head>

<body id="bg-home">
	<header>
		<h1>TripTastic</h1>
		<h3>An Unexpected Journey</h3>
		
		<nav class="nav_menu">
			<% if current_user %> 
				<ul> 
					<li><%= current_user.username%></li>
					<li><%= link_to 'Log out', logout_path, method: "delete" %></li>
					<li><%= link_to 'Destinations', controller: 'destinations' %></li>
				</ul> 
			<% else %>
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Login', login_path %></a></li> 
					<li><%= link_to 'Signup', signup_path %></a></li>
					<li><%= link_to 'Destinations', controller: 'destinations' %></li>
				</ul> 
			<% end %>
		</nav>
	</header>
	
    <img class="center" src=<%= "/assets/cartoonplane.png" %> alt="Destination Image" style="width:500px;height:250px;">
    
</body>