<head>
    <title>TripTastic</title>
</head>

<body id="bg">
    <header>
        <h1>TripTastic</h1>
        <h2>An Unexpected Journey</h2>
        
        <nav class="nav_menu">
            
            <% if current_user %> 
                <ul> 
                <li><%= current_user.username%></li> 
                <li><%= link_to 'Log out', logout_path, method: "delete" %></li>
                <li><%= link_to 'Destination', controller: 'destinations' %></li>
                </ul> 
            <% else %> 
                <ul> 
                <li><%= link_to 'Login', login_path %></a></li> 
                <li><%= link_to 'Signup', signup_path %></a></li>
                <li><%= link_to 'Destination', controller: 'destinations' %></li>
                </ul> 
            <% end %>
        </nav>
        
    </header>
</body>