<head>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans" rel="stylesheet">
</head>

<body id="background">

	<header>
		<h1>Edit Destination</h1>
		
		<nav class="nav_menu">
			<% if current_user %>
			<!--Nav menu if user is logged in (to be place in under 'if'-->
				<ul> 
					<li><%= current_user.username%></li>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Log out', logout_path, method: "delete" %></li>
					<li><%= link_to 'Back', destinations_path %></li>
				</ul>
			<% else %>
				<!--Nav menu if user is NOT logged in (to be place under 'else'-->
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Login', login_path %></a></li> 
					<li><%= link_to 'Signup', signup_path %></a></li>
					<li><%= link_to 'Back', destinations_path %></li>
				</ul>
			<% end %>
		</nav>
	</header>

<%= form_for :destination, url: destination_path(@destination), method: :patch do |f| %>

   <!--Code to display error-->
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@destination.errors.count, "error") %> prohibited
        this destination from being saved:
      </h2>
      <ul>
        <% @destination.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
  
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
