<head>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans" rel="stylesheet">
</head>

<body id="bg-home">
	<header>
		<h1>TripTastic</h1>
		<h3>Destinations Around The World Are Just A Click Away</h3>
		
		<nav class="nav_menu">
			<% if current_user %>
			<!--Nav menu if user is logged in (to be place in under 'if'-->
				<ul>
					<li><%= current_user.username%></li>
					<li><%= link_to 'Log out', logout_path, method: "delete" %></li>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Destinations', controller: 'destinations' %>
					<li><%= link_to 'Create Destination', new_destination_path %></li>
				</ul>
			<% else %>
				<!--Nav menu if user is NOT logged in (to be place under 'else'-->
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Login', login_path %></a></li> 
					<li><%= link_to 'Signup', signup_path %></a></li>
					<li><%= link_to 'Destinations', controller: 'destinations' %></li>
				</ul>
			<% end %>
		</nav>
	</header>
	
	<div id="view_dest">
		<div id="destination">
			<% @destination.each do |destination| %>
				<%= link_to "Go to #{destination.city}, #{destination.country}" , destination_path(destination), id: "dest" %>
				
				<% if current_user %>
					<%= link_to 'Edit', edit_destination_path(destination) %>
					<%= link_to 'Delete', 
						destination_path(destination), 
						method: :delete, 
						data: {confirm: 'Are you sure?' } %>
				<% end %>
				<div id="dest_image">
					<% if asset_exist?("#{destination.city}.png")%>
						<img id="destination_image" src=<%= "/assets/#{destination.city}.png" %> alt="Destination Image">
					<% else %>
						<img id="destination_image" src=<%= "/assets/default.jpg" %> alt="Destination Image">
					<% end %>
				</div>
			<% end %>
			</div>
	</div>
</body>