<h1>New Destination!</h1>
<%= link_to 'Back', destinations_path %>

<%= form_for :destination, url: destinations_path do |f| %>

   <!--Code to display error-->
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@destination.errors.count, "error") %> prohibited
        this destination from being created:
      </h2>
      <ul>
        <% @destination.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
  
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
