<h1>Destination Details</h1>
<%= link_to 'Destination List', destinations_path %>

<p>
    <strong>Country:</strong>
    <%= @destination.country %>
</p>

<p>
    <strong>City:</strong>
    <%= @destination.city %>
</p>

<h2>Trips</h2>
<%= render @destination.trips %>

<h2>Create a new Trip:</h2>
<%= render 'trips/form' %>