<h1>Destination Details</h1>
<%= link_to 'Destination List', destinations_path %>

<p>
    <strong>Country:</strong>
    <%= @destination.country %>
</p>

<p>
    <strong>City:</strong>
    <%= @destination.city %>
</p>

<h2>Trips</h2>
<%= render @destination.trips %>

<p><%= link_to 'Create Trip', new_destination_trip_path(@destination) %></p>